{% extends "base.html" %}

{% load wagtailcore_tags %}

{% load cycleangel_extras %}

{% block content %}

{% if not user.is_authenticated %}
	<div class="row col-md-12">
		<h1>Please log in</h1>
		<p>You have to be logged in to access this page</p>
	</div>
{% else %}
	{% athlete_info as athlete %}

	<div class="row">
		<div class="col-md-8">
			<h1>{{ user.get_full_name }}</h1>
		</div>
		<div class="col-md-2 col-offset-2">
			<img src="{{athlete.profile}}" alt="{{user.firstname}}"/>
		</div>
		<div class="row col-md-12">
			<h2>Athlete Information</h2>
		</div>
		<div class="row col-md-6">
			<table class="table">
				<tr>
					<td>Name</td><td>{{user.get_full_name}}</td>
				</tr>
				<tr>
					<td></td><td></td>
				</tr>
			</table>
		</div>
		<div class="row col-md-4 col-md-offset-1">
		<em>Here's a little bit of a biography.</em>
		</div>
	</div>
	{% endif %}
{% endblock %}